body{
    background:#0b8185 ;
}

p{
    text-align: justify;
}
.nombre{
    padding-left: 15px;
    font-size: 45px;
    color: #1f5f61;
}
#lema{
    font-size: 30px;
}

.subtitulocentral{
    text-align: center;
}
.encabezado{
    display: inline-block;
    vertical-align: top;
    
}

.intro{
    padding: 20px;
}

#logo{
    width: 15%;
}

.introduccion strong{
    color: #36544f;
}

#portada{
    width: 100%;

}

.imagenServicios{
    width: 40%;
}
ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
